.cell {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid #61dafb;
  text-align: center;
  vertical-align: top;
}

.cell-clickable {
  cursor: pointer;
  background: #e3e3e3;
}

.cell-clickable:hover {
  background: #bbbbbb;
}

.text-clickable {
  color: #4a90e2;
  cursor: pointer;
  text-decoration: underline;
}